Оформление расчетно-пояснительной записки выпускной квалификационной работы
       При оформлении РПЗ ВКР необходимо руководствоваться правилами, изложенными
в приложениях к Положениям «О порядке подготовки и защиты выпускной
квалификационной работы студентов…» и следующими ГОСТами:
       ГОСТ 2.105-95 ЕСКД. Общие требования к текстовым документам;
       ГОСТ 7.32-2001 Отчет о научно-исследовательской работе. Структура и правила
оформления;
       ГОСТ 7.9-95 Реферат и аннотация. Общие требования;
       ГОСТ 7.12-1993 Сокращение слов на русском языке;
       ГОСТ 7.54-88 Представление численных данных о свойствах веществ и материалов в
научно-технических документах;
       ГОСТ 7.1-2003 Библиографическая запись.
       Ниже приводятся краткие правила оформления часто встречающихся элементов в
РПЗ. Для более полной информации обращаться к документам, перечисленным выше.
РПЗ ВКР должна быть грамотно написана и правильно оформлена. Она должна быть
распечатана на одной стороне белого листа бумаги формата А4 (210х297 мм) шрифтом
черного цвета Times New Roman размером 14 пунктов, кроме фрагментов кода про-грамм,
для которых необходимо использовать шрифт Courier New.
       При выполнении РПЗ необходимо соблюдать равномерную плотность,
контрастность и четкость изображения по всему документу. В нем должны быть
четкие, не расплывшиеся линии, буквы, цифры и знаки.
       Разрешается использовать компьютерные возможности акцентирования внимания на
определенных терминах, формулах, теоремах, применяя разное начертание шрифта.
       Для переноса слов в тексте необходимо использовать автоматическую расстановку
переносов.
       Ниже показаны примеры оформления текста РПЗ и различных структурных
элементов. Примеры взяты из разных курсовых и дипломных проектов.

       В РПЗ необходимо соблюдать                           2 см
следующие размеры полей страницы:
                                                                                 2 инт.
левое – 3 см, правое – 1 см, нижнее –             1,25 см
                                                                                    3-4 инт.
2 см, верхнее – 2 см.
       Выравнивание текста – по
ширине, без отступов и интервалов.
Отступ первой строки абзацев – 1,25                3 см                                         1 см

см. Междустрочное расстояние – 1,5
строки.
       Расстояние между заголовками
                                                                                    3-4 инт.
– 2 интервала, между заголовком и
текстом – 3–4 интервала.                                           3-4 инт.
       Номер                 страницы
                                             1,5 строки
проставляется внизу листа в нижнем
колонтитуле и должен располагаться
по центру страницы, симметрично
тексту. Размеры колонтитулов в РПЗ
– 1,25 см. Верхний колонтитул
должен быть пустой, в нижнем                                                  внизу по центру
                                                  2 см
только номер страницы.
      Все листы РПЗ должны быть
пронумерованы, включая титульный
лист, номер на котором не ставится.


                                         9
       Пример            оформления
титульного листа показан на рисунке
справа.
       Титульный лист включается в
общую нумерацию страниц РПЗ, но
без простановки номера страницы.
Для этого можно установить флажок
«Различать    колонтитулы     первой
страницы» в настройках параметров
страницы и удалить номер страницы
с титульного листа.
       Бланки титульных листов для
различных видов ВКР:
       – дипломный проект;
       – дипломная работа;
       –                   выпускная
квалификационная работа бакалавра;
       –                   выпускная
квалификационная работа магистра;
приведены     в     Приложениях    к
Положениям «О порядке подготовки
и          защиты         выпускной
квалификационной              работы
студентов…».

     Справа     показан      пример
оформления реферата. С правилами
составления    рефератов      можно
ознакомится в Приложениях к
Положениям «О порядке подготовки
и         защиты         выпускной
квалификационной             работы
студентов…» и в ГОСТ 7.9-95.




                                       10
      Заголовки          структурных
элементов РПЗ не нумеруются, и их
следует располагать по центру без
точки в конце и печатать прописными
буквами, не подчеркивая. К таким
заголовкам относятся:
– РЕФЕРАТ (АННОТАЦИЯ);
– СОДЕРЖАНИЕ;
– ОПРЕДЕЛЕНИЯ;
– ОБОЗНАЧЕНИЯ И СОКРАЩЕНИЯ;
– ВВЕДЕНИЕ;
– ЗАКЛЮЧЕНИЕ;
– СПИСОК ИСПОЛЬЗОВАННЫХ
ИСТОЧНИКОВ;
– ПРИЛОЖЕНИЯ.
      Допускается      использование
шрифта раз-мером 15–16 пунктов с
полужирным начерта-нием.
      Жирным шрифтом отмечены
обязательные            структурные
элементы РПЗ.
      Каждый           структурный
элемент РПЗ должен начинаться с
новой страницы.


      Справа    показан     пример
оформления введения. С правилами
составления     введения     можно
ознакомится   в    Приложениях   к
Положениям «О порядке подготовки и
защиты выпускной квалификационной
работы студентов…» и в ГОСТ 7.32-
2001.




                                       11
      Выравнивание         текста     в
заголовках – по ширине. Отступ первой
строки – 1,25 см. Междустрочное
расстояние – 1,5 строки.
      Расстояние между заголовками –
2 интервала, между заголовком и
текстом – 3–4 интервала.
      Переносы слов в заголовках не
допускаются.
      После        номера      раздела,
подраздела, пункта, подпункта и в
конце заголовка точка не ставится.
Если     заголовок      состоит      из
нескольких предложений, каждое
должно заканчиваться точкой, кроме
последнего.
      Допускается        использование
шрифта размером 15–16 пунктов с
полужирным начертанием.
      Каждый         раздел       может
начинаться с новой страницы.




       На все таблицы в тексте РПЗ
должны быть ссылки. Таблица должна
располагаться сразу после абзаца, в
котором на нее имеется первая ссылка
или на следующей странице, если после
соответствующего абзаца недостаточно
места.
       По горизонтали таблица должна
быть      выравнена      по     центру
относительно текста и сопровождаться
номером     и    названием,    которые
указывают над таблицей отдельным
абзацем, начинающимся от правого
края таблицы.
       Размер шрифта в таблицах
можно уменьшить до 12 пунктов.
Отступ первой строки – 0 см.
Междустрочный          интервал      –
одинарный.
       Цвет шрифта и обрамления в
таблицах черный на белом фоне
страницы.
       Высота строк таблицы должна
быть не менее 8 мм.




                                          12
      При переносе части таблицы
на следующий лист шапку таблицы
следует    повторить,    если   она
небольшая, в противном случае
следует пронумеровать графы и
повторить    их    нумерацию     на
следующей странице. Над такой
частью    таблицы     пишут   слово
«Продолжение» и указывают номер
таблицы.




       Если        ширина
                                           3 см
таблицы больше ширины
текста      на      листе,   2 см                 2 см
допускается размещение
таблицы на отдельном
листе           альбомной
ориентации.
       Таблицу
необходимо расположить
так, чтобы ее можно было
читать, поворачивая РПЗ
по часовой стрелке и
настроить поля страницы:
левое – 2 см, правое – 2                   1 см
см, нижнее – 1 см,
верхнее – 3 см.




                                      13
     Если    таблица    небольшая,
допускается не оформлять ее в виде
таблицы с указанием номера и
названия, как показано на рисунке
справа.




       На все иллюстрации в тексте РПЗ
должны быть ссылки. Иллюстрация должна
располагаться сразу после абзаца, в
котором на нее имеется первая ссылка или
на следующей странице отдельной строкой
без обрамления текстом в соответствии с
рисунком справа.
       По    горизонтали    иллюстрация
должна быть выравнена по центру
относительно текста и сопровождаться
номером и названием, которые указывают
под иллюстрацией отдельным абзацем без
отступа первой строки, выровненным по
центру.
       Если иллюстрация сопровождается
пояснительным текстом (подрисуночный
текст), то его располагают между
иллюстрацией и названием, как показано на
рисунке справа (ГОСТ 7.32-2001 п. 6.5.6).
Допускается    и   другой    порядок    в
расположении подрисуночного текста и
названия.
       Иллюстрации в РПЗ могут быть
цветные, но название и подрисуночный
текст должны быть выполнены черным
шрифтом на белом фоне листа.


                                            14
      Уравнения и формулы следует
выделять из текста в отдельную
строку, при этом выше и ниже
каждой формулы или уравнения
должна быть оставлена одна
пустая строка.
      Пояснение значений символов
и числовых коэффициентов следует
приводить    непосредственно    под
формулой        в      той       же
последовательности, в которой они
даны в формуле.
      Первую строку пояснения
начинают со слова «где» без
двоеточия, а каждое пояснение
(кроме первого) должно начинаться
с новой строки.
      Перед     каждым     расчетом
необходимо приводить исходные
данные, используемые для расчетов, а
результаты расчетов сопровождать
указанием единиц измерения.




      Формулы в РПЗ следует
нумеровать порядковой нумерацией в
пределах всего текста арабскими
цифрами в круглых скобках. Номер
формулы выравнивать по правому
краю текста, а саму формулу
располагать по центру текста.




                                       15
     Пример            оформления
заключения.




     На все источники в тексте РПЗ
должны быть даны ссылки с
указанием номера источника в
квадратных скобках.
     Список источников должен
составляется в алфавитном порядке
либо в порядке появления на них
ссылок в тексте РПЗ.
     За более полной информацией
обращаться к Приложениям к
Положениям «О порядке подготовки
и         защиты        выпускной
квалификационной            работы
студентов…» ГОСТ 7.32-2001 и
ГОСТ 7.1-2003.




                                     16
       Последним или единственным
приложением          должно      быть
приложение,       содержащее      всю
графическую       часть     ВКР     с
перечислением на первом листе этого
приложения         всех     чертежей,
спецификаций и плакатов.
       Чертежи      и   спецификации
должны быть сохранены в виде
отдельных листов (один лист – один
файл) в формате emf (расширенный
формат метафайлов или Enhanced
Metafile) и вставлены в РПЗ в порядке
изложения работы, как показано на
рисунках ниже.




                                        17
18
19
